.drag {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }
  label {
    width: 350px;
    box-sizing: border-box;
  }
  